body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f0f0f0;
  margin: 0;
}

table {
  border-collapse: collapse;
  width: 600px;
  height: 600px;
}

td {
  border: 6px solid black;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}
